/* styles.css */
/* Reset básico y estilos del cuerpo del documento */
/* Variables CSS */
:root {
    --primary-color: #007aff; 
    --text-color: #333;
    --background-color-page: #f7f6f6; /* Color de fondo de la página en general */
    --background-color-section: #ffffff; /* Color de fondo para las secciones de servicios */
    --background-color-section-alt: #464343; /* Color de fondo alternativo para secciones */
    --cta-color: #007aff; /* Color del botón CTA */
    --cta-hover-color: #005ecb;
    --font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  }
/* Reset básico y estilos de fuente */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(var(--gradient-start), var(--gradient-end)); /* Declaración del degradado */
  }
  

/*Barra de navegación*/

/* Estilos de la barra de navegación principal */
.theme-main-menu {
    background: linear-gradient(to right, rgba(45, 45, 45, 0.8), rgba(26, 26, 26, 0.8)); /* Degradado de gris oscuro con transparencia */
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Alinea elementos internos verticalmente */
    height: 150px; /* Altura optimizada para la barra de navegación */
    justify-content: center; 
    padding: 0 30px; /* Agrega un poco de padding en los lados */
    transition: height 0.3s ease; /* Agrega una transición suave a la propiedad height */
  }
  
  /* Centrado de elementos dentro de la barra de navegación */
  .theme-main-menu .nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: center; /* según donde quieras que estén tus enlaces */
    align-items: center; /* Alinea elementos internos verticalmente */
    width: 100%; /* Asume todo el ancho disponible */
    padding: 0 15px; /* Ajusta el padding como sea necesario */
  }
  
  /* Navegación */
  .theme-main-menu .navbar {
    flex: 1 0 100%;
    justify-content: center; /* Centra la navegación en el espacio restante */
    order: 2; /* Asegura que la navegación siga al logo */
    flex-grow: 1; /* Permite que la barra de navegación crezca para llenar el espacio disponible */
  }
  
  .theme-main-menu .navbar {
    flex: 1; /* Permite que la barra de navegación crezca para llenar el espacio disponible */
    justify-content: center; /* Centra la navegación en el espacio restante */
  }
  
  .theme-main-menu .nav-item {
    padding: 0 10px; /* Espaciado horizontal entre elementos de la lista */
  }
  
  .flex-grow-1.d-flex.justify-content-center {
    flex-grow: 1;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #00adb5; /* al pasar el mouse */
  }
  
  /* Botón del menú para dispositivos móviles */
  .navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Oculto en dispositivos de escritorio */
  }
  
  .navbar-nav.main-side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Puede que necesites ajustar esto según tus necesidades */
  }
  
  /* Logo */
  .theme-main-menu .logo {
    flex: 0 0 auto; /* Asegura que el logo no se expanda y se ajuste a su contenido */
    text-align: left;
    margin-left: 20px; /* Ajusta este valor según necesites para añadir espacio a la izquierda */
    margin-right: auto; /* Mantiene los elementos siguientes a la derecha */
    order: 1; /* Mantiene el logo al inicio, aunque esto puede ser innecesario si ya es el primer elemento */
  }
  
  .logo img {
    height: 60px; /* Altura fija para el logo */
    width: auto; /* Ancho automático para mantener la proporción */
  }
  
  /* Estilos responsivos para dispositivos móviles */
  @media (max-width: 768px) {
    .theme-main-menu {
        height: auto; /* Altura automática en dispositivos móviles */
    }
    
    .theme-main-menu .logo {
        margin-left: 0; /* El logo puede estar alineado al borde en dispositivos móviles */
    }
    
    .navbar-toggler {
        display: block; /* Asegúrate de que el botón de menú se muestre en móviles */
    }
    
    .navbar-collapse.collapse.show {
        display: block;
    }
  
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
  
    .nav-item {
        padding: 0.5rem 0;
    }
  }



/* Estilos del carrusel*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}


.carousel-item img {
    width: 100%; /* Asegura que la imagen sea siempre tan ancha como su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover; /* Cubre el área del contenedor sin estirar la imagen */
    min-height: 400px; /* Puedes ajustar esto al mínimo que desees para la altura de tus imágenes */
    max-height: 600px; /* Puedes ajustar esto al máximo que desees para la altura de tus imágenes */
    display: block;
}

.carousel-caption {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 50%; /* Ajusta el valor para centrar verticalmente */
    z-index: 10;
    padding: 3rem;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    text-align: left;
    width: 70%;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px); /* Ajusta el valor para centrar verticalmente */
    transition: opacity 0.6s, transform 0.6s;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
    transform: translateY(0);
}

.carousel-caption h5 {
    font-size: 2.5rem; /* Tamaño de la fuente del título */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 0 0.5rem; /* Agrega un poco de margen debajo del título */
}

.carousel-caption p {
    font-size: 1.5rem; /* Tamaño de la fuente del subtítulo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0; /* Remueve los márgenes adicionales */
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #333;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

/* Iconos de Font Awesome con fondo para el control del carrusel */
.carousel-control-prev-icon {
    background: #333; /* Fondo para la flecha izquierda */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" width="16" height="16" fill="%23fff"><path d="M5.5 0l-3 3 3 3V5H8V3H2V0z"/></svg>'); /* Flecha izquierda de Font Awesome */
}

.carousel-control-next-icon {
    background: #333; /* Fondo para la flecha derecha */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" width="16" height="16" fill="%23fff"><path d="M2 0v3h5V0H2zm0 5v3h5V5H2z"/></svg>'); /* Flecha derecha de Font Awesome */
}

/* Media queries para ajustar el diseño en dispositivos móviles */

@media (max-width: 768px) {
    .carousel-caption {
        padding: 0.5rem;
        width: 90%;
    }

    .carousel-caption h5 {
        font-size: 1.5rem; /* Reducir tamaño de título */
    }

    .carousel-caption p {
        font-size: 1rem; /* Reducir tamaño de subtítulo */
    }

    .carousel-item img {
        min-height: 200px; /* Ajustar altura mínima de imágenes */
        max-height: 400px; /* Ajustar altura máxima de imágenes */
    }
}

@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: 1.2rem; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .carousel-caption p {
        font-size: 0.9rem; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .carousel-caption {
        width: 100%; /* Ajustar ancho a pantalla completa */
    }

    .carousel-item img {
        min-height: 150px; /* Altura mínima más pequeña para imágenes */
    }
}



/* Estilos Generales para la Sección de Testimonios */
.testimonials-section {
    background: #ffffff; /* Fondo blanco */
    padding: 80px 0; /* Espaciado generoso para un diseño aireado */
    font-family: var(--font-family); /* Tipografía moderna y limpia */
    color: var(--text-color); /* Color del texto basado en la variable */
}

.title-style-six {
    text-align: center; /* Centra el título en la sección */
    margin-bottom: 1em; /* Espacio debajo del título para separarlo del contenido que sigue */
}

.title-style-six h2 {
    font-size: 2.5em; /* Tamaño grande del título para destacar */
    color: var(--primary-color); /* Utiliza el color primario definido en las variables CSS */
    font-weight: bold; /* Hace que el título sea negrita para mayor énfasis */
    margin-bottom: 0.5em; /* Espacio debajo del título para separarlo del contenido que sigue */
    padding: 0 1em; /* Añade un poco de padding a los lados para manejar los textos largos en pantallas pequeñas */
}

/* Estilos para el Slider de Testimonios */
.testimonialsSlider .item {
    padding: 15px;
    margin: 0 10px;
}

.testimonial-item {
    background-color: var(--background-color-section);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Asegura transiciones suaves */
    opacity: 0.8; /* Los testimonios no centrales son ligeramente transparentes */
}

.testimonial-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.testimonial-item p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1.5em;
}

.testimonial-item h4 {
    color: var(--primary-color);
    margin-bottom: 0.25em;
}

.testimonial-item span {
    color: var(--text-color);
    font-size: 0.85rem;
}

/* Estilos para Encabezados dentro de Testimonios */
.testimonials-section h2 {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  /* Estilos para Párrafos dentro de Testimonios */
  .testimonials-section p {
    color: var(--text-color); /* Mejor contraste con un fondo oscuro */
    margin-bottom: 1em;
  }
  
  /* Ajuste para nombres y cargos en Testimonios */
  .testimonials-section .testimonial-item h4 {
    color: var(--primary-color); /* Uso del color primario para nombres */
  }
  
  .testimonials-section .testimonial-item span {
    color: var(--text-color); /* Un gris claro para los cargos/empresas */
  }

  .testimonialsSlider .slick-center .testimonial-item {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del testimonio central */
    opacity: 1; /* Asegura que el testimonio central sea totalmente opaco */
}

/* Asegurándose de que Slick Slider no estire los slides no centrales */
.slick-track {
    display: flex;
}

.slick-slide {
    height: auto; /* Esto permite que los slides tengan su altura natural */
}

  /* Estilos para los botones de navegación del carrusel */
.slick-dots li button:before, .slick-prev:before, .slick-next:before {
    color: var(--primary-color);
}

.slick-dots li.slick-active button:before {
    color: var(--cta-color);
}

.slider-arrows div {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
}

/* Ajuste para la responsividad */
@media (max-width: 768px) {
    .testimonialsSlider .item {
        margin: 0 5px;
    }

    .testimonial-item {
        padding: 20px;
    }

    .testimonialsSlider .slick-slide {
        transform: scale(1); /* En pantallas pequeñas, no escalamos los slides */
    }
}

/* Estilos del formato de contacto */
/* Estilos Base */
.contact-section {
    background-color: #222831;
    color: #eeeeee;
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
}

.contact-section h2 {
    color: #00adb5;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

/* Estilización del Formulario */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #393e46;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #00adb5;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    background-color: #333; /* Color de fondo más oscuro para definir los campos */
    border: 1px solid #555; /* Borde sutil para una mejor definición */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    color: #ffffff; /* Cambia el color del texto a blanco para mayor contraste */
    font-size: 16px;
    transition: all 0.3s ease-in-out; /* Suaviza la transición de todos los efectos */
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #00adb5; /* Color de acento al enfocar */
    background-color: #444; /* Fondo ligeramente más claro al enfocar */
    box-shadow: 0 0 0 2px #00adb5; /* Efecto glow al enfocar */
}

.form-group textarea {
    resize: vertical; /* Permite el redimensionamiento vertical */
}

/* Botón de Enviar */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Agrega transform y box-shadow a la transición */
    font-size: 1em; /* Ajusta según necesidad */
    background-color: var(--primary-color); /* Usa una variable o un color que destaque */
    color: #ffffff; /* Texto claro para contraste */
    border: none; /* Remueve el borde si existe */
    cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra inicial sutil */
}

.btn-primary:hover,
.btn-primary:focus { /* Incluye focus para accesibilidad */
    background-color: var(--cta-hover-color); /* Cambia el color de fondo al pasar el mouse */
    color: #ffffff; /* Texto claro para contraste */
    text-decoration: none;
    transform: translateY(-3px) scale(1.05); /* Eleva ligeramente el botón y lo hace crecer */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más prominente para dar la sensación de elevación */
}

/* Animaciones de Entrada */
.contact-section * {
    animation: slideIn 0.5s ease-out forwards;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        padding: 40px 20px;
    }

    #contact-form {
        padding: 20px;
    }

    .contact-section h2 {
        font-size: 2rem;
    }
}



/* Estilos del footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    font-family: 'Open Sans', Arial, sans-serif; /* Usar la misma tipografía que en el resto del sitio */
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-section {
    display: flex;
    flex: 1;
    padding: 1rem; /* Añade padding para evitar que el contenido toque los bordes */
    text-align: left;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 1rem;
    font-weight: 600; /* Más pesado que el texto normal pero no tan grueso como bold */
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente según tu diseño */
    text-transform: uppercase; /* Todos los títulos en mayúsculas */
    letter-spacing: 0.05em; /* Espaciado entre caracteres */
    color: #ffffff; /* Color blanco, cambia si es necesario */
    border-bottom: 2px solid #00adb5; /* Una línea de color debajo del título, cambia el color si es necesario */
    padding-bottom: 0.5rem; /* Espacio entre el título y la línea debajo */
    display: inline-block; /* Para que el borde inferior se ajuste al texto */
    margin-top: 0; /* Puede que necesites ajustar el margen superior */
}


/* Sección para medios sociales con iconos */
.footer-social {
    display: flex;
    justify-content: center; /* Centra los iconos de las redes sociales */
}

.footer-social a {
    margin: 0 10px; /* Espaciado entre iconos */
    font-size: 1.5rem; /* Tamaño más grande para los iconos */
}

.footer-social a:hover {
    color: #00adb5;
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    transition: color 0.3s ease, transform 0.3s ease; /* Suaviza la transición de los efectos */
}

/* Responsividad */
@media (min-width: 769px) {
    .footer .container {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .footer .container,
    .footer-section {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-social {
        justify-content: center; /* Asegura que los iconos estén centrados en dispositivos móviles */
        margin-top: 1rem; /* Añade espacio arriba de los iconos en vista móvil */
    }
}

/* Información de derechos de autor y atribuciones */
.footer-copy {
    border-top: 1px solid #404040;
    padding-top: 1rem;
    text-align: center; /* Centra el texto de derechos de autor */
    margin-top: 2rem; /* Añade espacio antes de la sección de derechos de autor */
}

/* Estilos para enlaces en el footer */
a.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a.footer-link:hover {
    color: #00adb5;
}

