/* styles.css */
/* Reset básico y estilos del cuerpo del documento */
/* Variables CSS */
:root {
    --primary-color: #007aff; 
    --text-color: #333;
    --background-color-page: #3a3939; /* Color de fondo de la página en general */
    --background-color-section: #ffffff; /* Color de fondo para las secciones de servicios */
    --background-color-section-alt: #464343; /* Color de fondo alternativo para secciones */
    --cta-color: #007aff; /* Color del botón CTA */
    --cta-hover-color: #005ecb;
    --font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  }
/* Reset básico y estilos de fuente */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(var(--gradient-start), var(--gradient-end)); /* Declaración del degradado */
  }
  

/*Barra de navegación*/

/* Estilos de la barra de navegación principal */
.theme-main-menu {
    background: linear-gradient(to right, rgba(45, 45, 45, 0.8), rgba(26, 26, 26, 0.8)); /* Degradado de gris oscuro con transparencia */
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Alinea elementos internos verticalmente */
    height: 150px; /* Altura optimizada para la barra de navegación */
    justify-content: center; 
    padding: 0 30px; /* Agrega un poco de padding en los lados */
    transition: height 0.3s ease; /* Agrega una transición suave a la propiedad height */
  }
  
  /* Centrado de elementos dentro de la barra de navegación */
  .theme-main-menu .nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: center; /* según donde quieras que estén tus enlaces */
    align-items: center; /* Alinea elementos internos verticalmente */
    width: 100%; /* Asume todo el ancho disponible */
    padding: 0 15px; /* Ajusta el padding como sea necesario */
  }
  
  /* Navegación */
  .theme-main-menu .navbar {
    flex: 1 0 100%;
    justify-content: center; /* Centra la navegación en el espacio restante */
    order: 2; /* Asegura que la navegación siga al logo */
    flex-grow: 1; /* Permite que la barra de navegación crezca para llenar el espacio disponible */
  }
  
  .theme-main-menu .navbar {
    flex: 1; /* Permite que la barra de navegación crezca para llenar el espacio disponible */
    justify-content: center; /* Centra la navegación en el espacio restante */
  }
  
  .theme-main-menu .nav-item {
    padding: 0 10px; /* Espaciado horizontal entre elementos de la lista */
  }
  
  .flex-grow-1.d-flex.justify-content-center {
    flex-grow: 1;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #00adb5; /* al pasar el mouse */
  }
  
  /* Botón del menú para dispositivos móviles */
  .navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Oculto en dispositivos de escritorio */
  }
  
  .navbar-nav.main-side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Puede que necesites ajustar esto según tus necesidades */
  }
  
  /* Logo */
  .theme-main-menu .logo {
    flex: 0 0 auto; /* Asegura que el logo no se expanda y se ajuste a su contenido */
    text-align: left;
    margin-left: 20px; /* Ajusta este valor según necesites para añadir espacio a la izquierda */
    margin-right: auto; /* Mantiene los elementos siguientes a la derecha */
    order: 1; /* Mantiene el logo al inicio, aunque esto puede ser innecesario si ya es el primer elemento */
  }
  
  .logo img {
    height: 60px; /* Altura fija para el logo */
    width: auto; /* Ancho automático para mantener la proporción */
  }
  

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block; /* Muestra el botón de menú en dispositivos móviles */
        margin-left: auto; /* Alinea el botón a la derecha */
    }

    .navbar-collapse {
        display: none; /* Oculta el menú principal en dispositivos móviles */
        width: 100%;
        padding: 20px;
        background-color: rgba(0,0,0,0.9); /* Fondo oscuro para el menú desplegable */
    }

    .navbar-collapse.collapse.show {
        display: block; /* Muestra el menú cuando está activo */
    }

    .navbar-nav {
        flex-direction: column; /* Alinea los elementos del menú verticalmente */
    }

    .nav-item {
        margin: 10px 0; /* Aumenta el espaciado vertical entre elementos */
    }
}

  

/* Estilos del carrusel*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}


.carousel-item img {
    width: 100%; /* Asegura que la imagen sea siempre tan ancha como su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover; /* Cubre el área del contenedor sin estirar la imagen */
    min-height: 400px; /* Puedes ajustar esto al mínimo que desees para la altura de tus imágenes */
    max-height: 600px; /* Puedes ajustar esto al máximo que desees para la altura de tus imágenes */
    display: block;
}

.carousel-caption {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    top: 50%; /* Ajusta el valor para centrar verticalmente */
    z-index: 10;
    padding: 3rem;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    text-align: left;
    width: 70%;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px); /* Ajusta el valor para centrar verticalmente */
    transition: opacity 0.6s, transform 0.6s;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
    transform: translateY(0);
}

.carousel-caption h5 {
    font-size: 2.5rem; /* Tamaño de la fuente del título */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 0 0.5rem; /* Agrega un poco de margen debajo del título */
}

.carousel-caption p {
    font-size: 1.5rem; /* Tamaño de la fuente del subtítulo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0; /* Remueve los márgenes adicionales */
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #333;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

/* Iconos de Font Awesome con fondo para el control del carrusel */
.carousel-control-prev-icon {
    background: #333; /* Fondo para la flecha izquierda */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" width="16" height="16" fill="%23fff"><path d="M5.5 0l-3 3 3 3V5H8V3H2V0z"/></svg>'); /* Flecha izquierda de Font Awesome */
}

.carousel-control-next-icon {
    background: #333; /* Fondo para la flecha derecha */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" width="16" height="16" fill="%23fff"><path d="M2 0v3h5V0H2zm0 5v3h5V5H2z"/></svg>'); /* Flecha derecha de Font Awesome */
}

/* Media queries para ajustar el diseño en dispositivos móviles */

@media (max-width: 768px) {
    .carousel-caption {
        left: 50%; /* Centra la caja de texto */
        top: 50%; /* Ajusta verticalmente para evitar que el texto se salga del carrusel */
        transform: translate(-50%, -50%); /* Centra la caja de texto respecto a su posición */
        width: 90%; /* Hace la caja de texto más estrecha para adaptarse a pantallas pequeñas */
        padding: 1rem; /* Reduce el padding para dispositivos móviles */
        font-size: 14px; /* Reduce el tamaño de la fuente para mejorar la legibilidad */
    }

    .carousel-caption h5 {
        font-size: 1.5rem; /* Reducir tamaño de título */
    }

    .carousel-caption p {
        font-size: 1rem; /* Reducir tamaño de subtítulo */
    }

    .carousel-item img {
        min-height: 200px; /* Ajusta la altura mínima de la imagen para dispositivos móviles */
        max-height: 300px; /* Ajusta la altura máxima para dispositivos móviles */
    }
}

@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: 1.0rem; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .carousel-caption p {
        font-size: 0.8rem; /* Tamaño más pequeño para pantallas muy pequeñas */
    }

    .carousel-caption {
        left: 50%; /* Centra la caja de texto */
        top: 50%; /* Ajusta verticalmente para evitar que el texto se salga del carrusel */
        transform: translate(-50%, -50%); /* Centra la caja de texto respecto a su posición */
        width: 90%; /* Hace la caja de texto más estrecha para adaptarse a pantallas pequeñas */
        padding: 1rem; /* Reduce el padding para dispositivos móviles */
        font-size: 14px; /* Reduce el tamaño de la fuente para mejorar la legibilidad */
    }

    .carousel-item img {
        min-height: 150px; /* Altura mínima más pequeña para imágenes */
    }
}

/* Estilos Generales para la Sección de Servicios */

/* Ajustes para las Secciones de Servicio */
.service-section {
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna para un enfoque más moderno */
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    margin: 2rem auto; /* Espacio simétrico horizontalmente y separación entre secciones */
    padding: 3rem 1rem; /* Padding reducido para un diseño más limpio */
    background-color: #000; /* Fondo negro para resaltar los servicios */
    border-radius: 12px; /* Bordes más redondeados para un aspecto suave */
    box-shadow: 0 12px 24px rgba(255, 255, 255, 0.05); /* Sombra blanca sutil para un efecto elevado sobre fondo negro */
    transition: all 0.3s ease; /* Transición suave para todos los estados */
    overflow: hidden; /* Esconde los elementos que desborden el contenedor */
}

/* Estilos para Descripciones e Imágenes */
.service-section .description {
    text-align: center; /* Texto centrado para las descripciones */
    padding: 2rem; /* Espaciado interno para la descripción */
}

.service-section .description h2 {
    color: #E2E8F0; /* Texto claro para un alto contraste */
    margin: 0.5em 0; /* Espacio optimizado entre elementos */
    font-size: 2.2rem; /* Aumento del tamaño de la fuente */
    font-weight: 600; /* Fuente menos pesada para un aspecto limpio */
}

.service-section .description p {
    color: #B2BEC3; /* Gris más claro para el texto que mejora la legibilidad */
    margin-bottom: 1.5rem; /* Más espacio antes del botón CTA */
}

/* Estilo para Imágenes */
.service-section .image img {
    max-width: 80%; /* Asegura que la imagen sea grande y centrada */
    border-radius: 12px; /* Bordes redondeados para las imágenes */
    margin: 2rem 0; /* Espaciado alrededor de la imagen */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1); /* Sombra sutil para efecto flotante */
}

/* Estilos para Botones de Acción (Call to Action - CTA) */
.cta {
    background-color: #0DCAF0; /* Color brillante y llamativo para el CTA */
    color: #000; /* Texto oscuro para un alto contraste */
    padding: 12px 36px; /* Botones más grandes y atractivos */
    border-radius: 30px; /* Bordes aún más redondeados para un estilo moderno */
    font-size: 1rem; /* Tamaño de la fuente del botón */
    font-weight: 600; /* Fuente más negrita para destacar */
    letter-spacing: 0.5px; /* Espaciado de letras para definición */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para el botón */
    margin-top: 1rem; /* Espaciado adicional encima del botón */
    transition: all 0.3s ease; /* Transición suave para todos los estados */
}

.cta:hover {
    background-color: #0B95D0; /* Oscurecer el color al pasar el mouse */
    transform: translateY(-2px); /* Pequeña elevación del botón al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

@media (max-width: 768px) {
    .service-section {
        padding: 2rem 1rem; /* Padding ajustado para móviles */
    }

    .service-section .description, .service-section .image {
        flex-basis: 100%; /* Cada uno toma el 100% del ancho en móviles */
    }
}
  

.testimonials-section {
    background: linear-gradient(245deg, #000000, #0a0a0a 85%); /* Fondo con degradado para efecto dinámico */
    color: #E2E8F0;
    padding: 100px 50px; /* Ajusta el espaciado para mayor impacto visual */
    position: relative; /* Necesario para el posicionamiento absoluto de elementos internos */
}

.title-style-six h2 {
    font-size: 3rem; /* Aumenta el tamaño para destacar */
    color: #FFFFFF;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del fondo */
}

.testimonialsSlider .item {
    position: relative; /* Posicionamiento relativo para controlar la superposición */
    padding: 30px;
    margin: 20px 15px;
    display: flex; /* Acomoda los testimonios en fila */
    align-items: center; /* Alinea verticalmente */
}

.testimonial-item {
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido para el contenido */
    padding: 20px 40px; /* Ajusta el padding para un diseño más limpio */
    border-radius: 10px; /* Bordes redondeados sutiles */
    margin-right: 30px; /* Espacio entre los ítems del slider */
    box-shadow: 0 10px 20px rgba(255,255,255,0.07); /* Sombra suave para efecto flotante */
    backdrop-filter: blur(5px); /* Efecto de desenfoque detrás de los elementos */
    position: relative;
    z-index: 2; /* Asegura que el elemento esté por encima del fondo */
}

.testimonial-item:hover {
    box-shadow: 0 20px 40px rgba(255,255,255,0.15);
}

.testimonial-item p {
    font-size: 1.1rem; /* Aumenta el tamaño para mejorar la legibilidad */
    color: #FFFFFF;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.testimonial-item h4, .testimonial-item span {
    color: #0DCAF0; /* Color brillante para los nombres y cargos */
}

/* Estilos para los botones de navegación del carrusel */
.slider-arrows div {
    background-color: #0DCAF0;
    color: #fff;
    padding: 10px; /* Botones más grandes y fáciles de interactuar */
    border-radius: 50%;
    position: absolute; /* Posicionamiento absoluto dentro de la sección */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrado perfecto */
    cursor: pointer; /* Cursor tipo mano para botones */
    z-index: 3; /* Asegura que los botones estén por encima de todo */
}

/* Ajustes para que los botones aparezcan a la izquierda y derecha */
.slider-arrows div.left { left: 25px; }
.slider-arrows div.right { right: 25px; }

/* Ajuste de responsividad */
@media (max-width: 768px) {
    .testimonialsSlider .item { margin: 0 auto; }
    .testimonial-item { margin: 0 10px; }
    .slider-arrows div { display: none; } /* Esconde los botones en dispositivos móviles para evitar el hacinamiento */
}


#about-me {
    background-color: #f4f4f4;
    color: #333;
    padding: 60px 0;
    text-align: center;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-me-profile {
    flex-basis: 35%;
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.about-me-info {
    flex-basis: 60%;
    padding: 0 20px;
}

.about-me-info h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

.about-me-info p {
    text-align: left;
    line-height: 1.6;
}

.about-me-links h3 {
    font-size: 1.8rem;
    color: #333;
    margin: 40px 0 20px 0;
}

.about-me-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.about-me-links a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .about-me-container {
        flex-direction: column;
    }

    .about-me-profile, .about-me-info {
        flex-basis: 100%;
    }

    .profile-picture {
        margin: 0 auto 30px;
    }

    .about-me-info p {
        text-align: center;
    }
}


/* Estilos del footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    font-family: 'Open Sans', Arial, sans-serif; /* Usar la misma tipografía que en el resto del sitio */
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-section {
    display: flex;
    flex: 1;
    padding: 1rem; /* Añade padding para evitar que el contenido toque los bordes */
    text-align: left;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 1rem;
    font-weight: 600; /* Más pesado que el texto normal pero no tan grueso como bold */
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente según tu diseño */
    text-transform: uppercase; /* Todos los títulos en mayúsculas */
    letter-spacing: 0.05em; /* Espaciado entre caracteres */
    color: #ffffff; /* Color blanco, cambia si es necesario */
    border-bottom: 2px solid #00adb5; /* Una línea de color debajo del título, cambia el color si es necesario */
    padding-bottom: 0.5rem; /* Espacio entre el título y la línea debajo */
    display: inline-block; /* Para que el borde inferior se ajuste al texto */
    margin-top: 0; /* Puede que necesites ajustar el margen superior */
}


/* Sección para medios sociales con iconos */
.footer-social {
    display: flex;
    justify-content: center; /* Centra los iconos de las redes sociales */
}

.footer-social a {
    margin: 0 10px; /* Espaciado entre iconos */
    font-size: 1.5rem; /* Tamaño más grande para los iconos */
}

.footer-social a:hover {
    color: #00adb5;
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    transition: color 0.3s ease, transform 0.3s ease; /* Suaviza la transición de los efectos */
}

/* Responsividad */
@media (min-width: 769px) {
    .footer .container {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .footer .container,
    .footer-section {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-social {
        justify-content: center; /* Asegura que los iconos estén centrados en dispositivos móviles */
        margin-top: 1rem; /* Añade espacio arriba de los iconos en vista móvil */
    }
}

/* Información de derechos de autor y atribuciones */
.footer-copy {
    border-top: 1px solid #404040;
    padding-top: 1rem;
    text-align: center; /* Centra el texto de derechos de autor */
    margin-top: 2rem; /* Añade espacio antes de la sección de derechos de autor */
}

/* Estilos para enlaces en el footer */
a.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a.footer-link:hover {
    color: #00adb5;
}

/* Icono de whatsapp*/
.whatsapp-icon {
    position: fixed; /* Posicionamiento fijo en la pantalla */
    right: 20px; /* Distancia desde el lado izquierdo de la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    font-size: 2.5rem; /* Tamaño del ícono */
    color: #25D366; /* Color oficial de WhatsApp */
    background-color: white; /* Fondo blanco para el círculo */
    border-radius: 50%; /* Hace el fondo completamente redondo */
    width: 50px; /* Ancho del círculo */
    height: 50px; /* Alto del círculo */
    display: flex; /* Permite centrar el ícono dentro del círculo */
    align-items: center; /* Centra el ícono verticalmente */
    justify-content: center; /* Centra el ícono horizontalmente */
    box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Sombra suave alrededor del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    z-index: 1000; /* Asegura que el botón se muestre por encima de otros elementos */
}

.whatsapp-icon:hover {
    color: white; /* Cambia el color del ícono al pasar el mouse */
    background-color: #25D366; /* Cambia el fondo al color oficial de WhatsApp */
    text-decoration: none; /* Mantiene el enlace sin subrayado al pasar el mouse */
}
