/* styles.css */
/* Reset básico y estilos del cuerpo del documento */
/* Variables CSS */
:root {
  --primary-color: #007bff; 
  --text-color: #f8f9fa;
  --background-color-page: #282c34; /* Color de fondo de la página en general */
  --background-color-section: #ffffff; /* Color de fondo para las secciones */
  --background-color-section-alt: #6c757d; /* Color de fondo alternativo para secciones */
  --cta-color: #007bff; /* Color del botón de llamada a la acción (CTA) */
  --cta-hover-color: #0056b3;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gradient-start: #1c1c1d; /* Inicio del degradado */
  --gradient-end: #3a3a3a; /* Fin del degradado */
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra de caja para elementos flotantes */
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--background-color-page);
  background: linear-gradient(160deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  min-height: 100vh;
}

/* Estilos de botones generales */
button, .button {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--cta-color);
  color: white;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover, .button:hover {
  background-color: var(--cta-hover-color);
  transform: scale(1.05);
}

/* Estilos para enlaces */
a {
  color: var(--cta-color);
  text-decoration: none; /* Remueve subrayado */
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--cta-hover-color);
}

/* Estilos para las secciones */
.section {
  padding: 60px 0;
  background-color: var(--background-color-section);
}

.section-alt {
  background-color: var(--background-color-section-alt);
  color: var(--text-color);
}

/* Tipografía y títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* Mejoras para la legibilidad del texto */
p {
  line-height: 1.6;
}

/* Estilos para contenedores y tarjetas */
.card {
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
}

  

/*Barra de navegación*/

.navbar {
  background-color: var(--background-color-page);
  color: white;
  padding: 0; /* Eliminamos el padding para permitir que el flexbox maneje el espacio */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0; /* Asegúrate de que la barra se extienda a lo largo de la ventana */
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  height: 65px; /* Establece una altura específica para la barra de navegación */
}

.navbar-brand {
  display: flex; /* Permite el uso de flexbox para el logo */
  align-items: center; /* Centra el logo verticalmente */
  justify-content: center; /* Centra el logo horizontalmente */
  /* No es necesario margin-right si quieres que todo esté centrado */
}

  .navbar-logo {
    transition: transform 0.3s ease;
    height: 40px; /* Ajusta según el tamaño deseado para tu logo */
    width: auto; /* Mantiene las proporciones del logo */
  }
  
  .navbar-logo:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del logo al pasar el mouse */
  }

  .navbar-links {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    height: 100%; /* Establece la altura de los enlaces igual a la del navbar */
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    align-items: center; /* Asegura que los ítems de la lista estén centrados verticalmente */
    padding: 0;
    margin: 0; /* Elimina cualquier margen por defecto */
  }
  
  .navbar-links li {
    padding: 0 15px;
    transition: transform 0.3s ease;
  }
  
  .navbar-links a {
    transition: color 0.3s ease;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center; /* Alinea el texto del enlace verticalmente */
  }
  
  .navbar-links a:hover, .navbar-links a:focus {
    color: #00adb5;
    text-decoration: none;
  }

  .navbar-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00adb5; /* O el color de tu elección */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar-links a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .toggle-button {
    position: absolute;
    right: 20px; /* Alinea el botón a la derecha */
    cursor: pointer; /* Cambia el cursor a una mano cuando pasas sobre el botón */
    display: none; /* El botón de menú se muestra solo en la vista móvil */
    flex-direction: column;
    justify-content: space-around; /* Espacia uniformemente las barras */
    align-items: center;
    width: 30px; /* Ajusta la anchura del botón de menú */
    height: 25px; /* Ajusta la altura del botón de menú */
    background-color:var(--background-color-page); 
  }
  
  .toggle-button .bar {
    height: 2px; /* Barras más gruesas para un aspecto más refinado */
    width: 100%; /* Utiliza el ancho completo del contenedor del botón */
    background-color: white;
    border-radius: 2px; /* Bordes redondeados para las barras */
    transition: all 0.3s ease; /* Suaviza la transición de los efectos de las barras */
  }

  /* Estilo para cuando el botón de menú está activo (cambiar la forma de las barras) */
.toggle-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); /* Ajusta la posición para efecto de 'cruce' */
  }
  
  /* Estilo para cuando el botón de menú está activo (si deseas cambiar la forma de las barras) */
  .toggle-button.active .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .toggle-button.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-button.active .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  @media (max-width: 768px) {
    .navbar {
      background-color: var(--background-color-page); /* Mejor coherencia con el fondo */
      padding: 10px 0; /* Reducir el padding para maximizar el espacio disponible */
    }
    
      .navbar-links {
        display: none;
        width: 100%;
        padding-top: 20px;
        background-color: transparent; /* Fondo sólido para el menú desplegable */
        position: absolute;
        top: 55px; /* Ajuste para alinear con la parte inferior de la barra de navegación */
        left: 0;
        transition: 0.3s ease-out; /* Transición suave al mostrar/ocultar */
      }
    
      .navbar-links ul {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ocupa el ancho completo */
        background-color: rgba(83, 81, 81, 0.849);
      }
    
      .navbar-links li {
        width: 100%; /* Hace que los enlaces ocupen todo el ancho disponible */
        margin-bottom: 15px;
        transition: background-color 0.3s; /* Transición suave para el efecto de hover */
      }
    
      .navbar-links a {
        display: block; /* Hace que los enlaces ocupen todo el ancho del li */
        padding: 10px 20px; /* Añade padding para hacer los enlaces más "tocables" */
        text-align: center; /* Centra el texto de los enlaces */
        border-radius: 5px; /* Bordes redondeados para un look moderno */
        transition: color 0.3s, transform 0.3s; /* Suaviza las transiciones de color y transformación */
      }
    
      .navbar-links a:hover, .navbar-links a:focus {
        color: #00adb5; /* Cambia el color al hacer hover o focus */
        background-color: rgba(255, 255, 255, 0.1); /* Añade un ligero resaltado */
        transform: scale(1.05); /* Escala ligeramente el enlace para un efecto de hover */
      }
    
      .toggle-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px; /* Añade padding para facilitar la interacción táctil */
        margin-left: auto; /* Alinea el botón de menú a la derecha */
      }
    
      .navbar-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }


/* Estilos Base del Carrusel */
.carousel-container {
  position: relative;
  overflow: hidden;
}
.carousel {
  background-color: transparent; /* Asegura que el carrusel mismo no interfiera con el efecto del contenedor */
  /* Aquí van los estilos existentes de tu carrusel */
}
.carousel-inner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-item {
  height: 100vh;
  display: flex; /* Habilita flexbox para el contenedor */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.carousel-caption {
  position: relative; /* Ajusta la posición relativa para el centrado con flexbox */
  top: 50%;
  left: 50%;
  border-radius: 10px;
  /* Elimina especificaciones de posición para permitir el centrado con flexbox */
  padding: 1rem;
  text-align: center; /* Asegura que el texto esté centrado dentro del caption */
}

.text_banner h5, .text_banner p {
  margin: 0;
  color: white;
}

/* Media Queries para ajustar el texto en dispositivos más pequeños */
@media (max-width: 768px) {
  .text_banner h5 {
      font-size: 6vw;
  }

  .text_banner p {
      font-size: 5vw;
  }
}

/* Ajustes adicionales para tabletas y dispositivos de mayor tamaño */
@media (max-width: 1024px) {
  .text_banner h5 {
      font-size: 5vw;
  }

  .text_banner p {
      font-size: 4vw;
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1025px) {
  .text_banner h5, .text_banner p {
      font-size: calc(1vw + 1vh);
  }
}


/* Servicios */

.service-header {
  text-align: center; /* Centra el texto */
  padding: 4rem 0; /* Espaciado arriba y abajo del título */
  position: relative; /* Para la línea decorativa */
  background: #f9f9f9; /* El mismo fondo de la sección para coherencia */
}

.service-header h1 {
  font-size: 2.5rem; /* Tamaño grande y prominente para el título */
  color: #333; /* Color oscuro para contraste */
  margin-bottom: .5rem; /* Espacio debajo del título principal */
}

.service-header .tagline {
  font-size: 1.2rem; /* Tamaño menor para el subtítulo */
  color: #6c757d; /* Color más suave para el subtítulo */
  margin-bottom: 2rem; /* Espacio debajo del subtítulo */
}

.service-header p {
  color: #6c757d; /* Color para el texto descriptivo */
  max-width: 600px; /* Ancho máximo para el texto descriptivo */
  margin-left: auto; /* Centra el texto descriptivo horizontalmente */
  margin-right: auto;
}

.service-header::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem; /* Posición debajo del título */
  width: 50px; /* Ancho de la línea decorativa */
  height: 3px; /* Altura de la línea decorativa */
  background-color: #00adb5; /* Color de la línea, ajusta según tu paleta de colores */
  border-radius: 1.5px; /* Bordes ligeramente redondeados */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .service-header {
    padding: 2rem 1rem; /* Reduce el relleno para pantallas pequeñas */
  }

  .service-header h1 {
    font-size: 2.5rem; /* Tamaño de fuente más pequeño para el título */
    margin-bottom: 0.5rem;
  }

  .service-header .tagline {
    font-size: 1rem; /* Tamaño de fuente más pequeño para la tagline */
    margin-bottom: 0.5rem;
  }

  .service-header p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para el párrafo descriptivo */
    padding: 0 1rem; /* Agrega algo de relleno lateral para no tocar los bordes */
  }
}


main {
  padding: 4rem; /* Ajusta el relleno alrededor de la cuadrícula de servicios */
  background: #f9f9f9; /* El color de fondo general de la sección */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tres columnas con tamaños iguales */
  gap: 2rem; /* Espaciado entre tarjetas de servicio */
  justify-content: center; /* Centra los elementos de la cuadrícula */
  align-items: center; /* Alineación vertical */
  margin-bottom: 4rem; /* Añade espacio debajo de la cuadrícula para separar de otros contenidos */
}

.service-item {
  max-width: 350px; /* Establece un ancho máximo para las tarjetas */
  margin: 0 auto; /* Centra las tarjetas dentro de las columnas */
  background-color: #ffffff; /* Fondo de cada tarjeta de servicio */
  border-radius: 15px; /* Esquinas redondeadas para las tarjetas */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
  text-align: center; /* Alinea el texto al centro */
  padding: 2rem; /* Espacio dentro de las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

.service-item:hover {
  transform: translateY(-10px); /* Eleva la tarjeta ligeramente al pasar el mouse */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Sombra más profunda en hover */
}

.service-item img {
  max-width: 80%; /* Tamaño máximo de la imagen para asegurar que se ajuste bien */
  margin-bottom: 1rem; /* Espacio entre la imagen y el título */
}

.service-item h2 {
  margin: 0;
  color: #333; /* Color del texto del título */
  font-size: 1.2rem; /* Tamaño del texto del título */
}


@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila en tablets y dispositivos medianos */
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* Una tarjeta por fila en dispositivos móviles */
  }

  .service-item {
    max-width: none; /* Elimina el ancho máximo para permitir que la tarjeta se expanda */
    margin: 0; /* Restablece el margen para tarjetas en dispositivos móviles */
    padding: 1rem; /* Reduce el padding para dispositivos con pantallas pequeñas */
  }

  .service-item img {
    max-width: 100%; /* Permite que la imagen ocupe todo el ancho disponible en pantallas pequeñas */
  }

  .service-item h2 {
    font-size: 1.5rem; /* Aumenta el tamaño de fuente del título para mejorar la legibilidad */
  }
}

@media (max-width: 480px) {
  main {
    padding: 2rem; /* Reduce el padding del contenedor principal para pantallas muy pequeñas */
  }

  .service-item {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave para dispositivos móviles */
  }

  .service-item:hover {
    transform: none; /* Elimina la transformación en hover para evitar efectos extraños al tocar */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra ligeramente más prominente en hover */
  }
}



/* Testimonios */
.testimonials-header {
  text-align: center; /* Centra el texto */
  padding: 4rem 0; /* Espaciado arriba y abajo del título */
  position: relative; /* Para la línea decorativa */
}

.testimonials-header h1 {
  font-size: 2.5rem; /* Tamaño grande y prominente para el título */
  color: white; /* Color oscuro para contraste */
  margin-bottom: .5rem; /* Espacio debajo del título principal */
}

.testimonials-header .tagline {
  font-size: 1.2rem; /* Tamaño menor para el subtítulo */
  color: white; /* Color más suave para el subtítulo */
  margin-bottom: 2rem; /* Espacio debajo del subtítulo */
}

.testimonials-header::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem; /* Posición debajo del título */
  width: 50px; /* Ancho de la línea decorativa */
  height: 3px; /* Altura de la línea decorativa */
  background-color: #00adb5; /* Color de la línea, ajusta según tu paleta de colores */
  border-radius: 1.5px; /* Bordes ligeramente redondeados */
}


.testimonials-section {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,1) 100%);
  color: #E2E8F0;
  padding: 100px 50px; /* Ajusta el espaciado para mayor impacto visual */
  position: relative; /* Necesario para el posicionamiento absoluto de elementos internos */
}

.title-style-six h2 {
  font-size: 3rem; /* Aumenta el tamaño para destacar */
  color: white; /* Utiliza el color primario para títulos */
  margin-bottom: 1rem;
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del fondo */
}

.testimonialsSlider .item {
  position: relative; /* Posicionamiento relativo para controlar la superposición */
  padding: 30px;
  margin: 20px 15px;
  display: flex; /* Acomoda los testimonios en fila */
  align-items: center; /* Alinea verticalmente */
}

.testimonial-item {
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  padding: 20px 40px; /* Ajusta el padding para un diseño más limpio */
  border-radius: 10px; /* Bordes redondeados sutiles */
  margin: 0 auto 30px; /* Centra los testimonios y añade espacio debajo de cada uno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto flotante */
  backdrop-filter: blur(5px); /* Efecto de desenfoque detrás de los elementos */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para transformación y sombra */
  min-height: 200px; /* Altura mínima para uniformidad */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia el contenido uniformemente */
}

.testimonial-item:hover {
  transform: translateY(-5px); /* Mueve el elemento ligeramente hacia arriba */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el ratón */
}

.testimonial-item p {
  font-size: 1.1rem; /* Aumenta el tamaño para mejorar la legibilidad */
  color: var(--text-color); /* Utiliza el color de texto definido */
  line-height: 1.7;
  margin-bottom: 1rem;
}

.testimonial-item h4, .testimonial-item span {
  color: #0DCAF0; /* Utiliza el color primario para nombres y cargos */
}

/* Estilos para los botones de navegación del carrusel */
.slider-arrows div {
  background-color: #0DCAF0;
  color: #fff;
  padding: 10px; /* Botones más grandes y fáciles de interactuar */
  border-radius: 50%;
  position: absolute; /* Posicionamiento absoluto dentro de la sección */
  top: 50%; /* Centrado verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrado perfecto */
  cursor: pointer; /* Cursor tipo mano para botones */
  z-index: 3; /* Asegura que los botones estén por encima de todo */
}

/* Ajustes para que los botones aparezcan a la izquierda y derecha */
.slider-arrows div.left { left: 25px; }
.slider-arrows div.right { right: 25px; }


/* Ajuste de responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .testimonials-section {
      padding: 50px 20px; /* Espaciado reducido para pantallas pequeñas */
  }

  .title-style-six h2 {
      font-size: 2rem; /* Tamaño de fuente más pequeño para el título */
      text-align: center; /* Centra el título en la pantalla */
      margin-bottom: 0.5rem;
  }

  .testimonialsSlider {
      padding-top: 60px; /* Espacio superior reducido */
  }

  .testimonialsSlider .item {
      padding: 20px; /* Padding reducido para los ítems del slider */
      margin: 10px 0; /* Margen vertical para separar los ítems */
      display: block; /* Los ítems se muestran uno debajo del otro */
  }

  .testimonial-item {
      padding: 15px; /* Padding interno más pequeño */
      margin-right: 0; /* Margen derecho eliminado */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra de caja más sutil */
      backdrop-filter: blur(3px); /* Menos desenfoque para mejorar la legibilidad */
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .testimonial-item:hover {
    transform: translateY(-5px); /* Mueve el elemento ligeramente hacia arriba */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para destacar */
}

  .testimonial-item p {
      font-size: 1rem; /* Tamaño de fuente más pequeño para el párrafo */
  }

  .testimonial-item h4 {
      font-size: 1.2rem; /* Tamaño de fuente más grande para el nombre */
  }

  .testimonial-item span {
      font-size: 0.9rem; /* Tamaño de fuente más pequeño para el cargo */
  }
  
  /* Esconde los botones de navegación del carrusel en dispositivos móviles */
  .slider-arrows div {
      display: none;
  }
}


/* Acerca de mí */
.about-header {
  text-align: center;
  color: #333;
  padding: 4rem 0;
  position: relative;
  background-color: white;
}

.about-header h1 {
  font-size: 2.5rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.about-header .tagline {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

.about-header::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 50px;
  height: 3px;
  background-color: #00adb5;
  border-radius: 1.5px;
}

/* Asegúrate de agregar las media queries para pantallas pequeñas, como en los encabezados anteriores */
@media (max-width: 768px) {
  .about-header h1 {
    font-size: 2rem;
  }

  .about-header .tagline {
    font-size: 1rem;
  }
}


#about-me {
  color: #ffffff;
  padding: 4rem 0; /* Espaciado generoso para respirar */
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Espacio alrededor de los elementos */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 0 2rem; /* Padding lateral */
  background-color: white;
}

.about-me-profile {
  margin-right: 2rem; /* Ajusta este valor como sea necesario para crear más espacio */
}

.about-me-profile figure {
  text-align: center; /* Centrar el contenido de la figura */
  margin: 0; /* Eliminar el margen predeterminado */
}

.about-me-profile img.profile-picture {
  border-radius: 50%; /* Hace la imagen redonda */
  max-width: 200px; /* Tamaño máximo de la imagen */
  border: 5px solid #00adb5; /* Borde sólido para la imagen */
}

.about-me-profile figcaption {
  margin-top: 1rem;
  font-size: 1rem;
  color: black; /* Color más claro para la leyenda */
}

.about-me-info h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #6c757d;
}

.about-me-info p {
  color: #6c757d;
  font-size: 1.1rem;
  line-height: 1.8;
}

.about-me-links {
  margin-top: 2rem;
}

.about-me-links h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-me-links a {
  color: #00adb5; /* Color de enlace que coincide con el esquema de colores */
  text-decoration: none; /* No subrayar los enlaces */
  margin-right: 0.5rem;
}

.about-me-links a:hover {
  text-decoration: underline; /* Subrayar en hover para indicar interactividad */
}

/* Responsividad */
@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column; /* Apilar verticalmente en pantallas pequeñas */
  }
  .about-me-profile {
    margin-right: 0; /* Restablece el margen para dispositivos móviles */
    margin-bottom: 2rem; /* Mantiene el espacio entre la imagen y el texto */
  }
  .about-me-profile,
  .about-me-info {
    width: 100%; /* Ocupar el ancho completo en pantallas pequeñas */
    text-align: center;
  }

  .about-me-profile {
    margin-bottom: 2rem; /* Espacio entre la imagen y el texto de info */
  }
}




/* Estilos del footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    font-family: 'Open Sans', Arial, sans-serif; /* Usar la misma tipografía que en el resto del sitio */
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-section {
    display: flex;
    flex: 1;
    padding: 1rem; /* Añade padding para evitar que el contenido toque los bordes */
    text-align: left;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 1rem;
    font-weight: 600; /* Más pesado que el texto normal pero no tan grueso como bold */
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente según tu diseño */
    text-transform: uppercase; /* Todos los títulos en mayúsculas */
    letter-spacing: 0.05em; /* Espaciado entre caracteres */
    color: #ffffff; /* Color blanco, cambia si es necesario */
    border-bottom: 2px solid #00adb5; /* Una línea de color debajo del título, cambia el color si es necesario */
    padding-bottom: 0.5rem; /* Espacio entre el título y la línea debajo */
    display: inline-block; /* Para que el borde inferior se ajuste al texto */
    margin-top: 0; /* Puede que necesites ajustar el margen superior */
}


/* Sección para medios sociales con iconos */
.footer-social {
    display: flex;
    justify-content: center; /* Centra los iconos de las redes sociales */
}

.footer-social a {
    margin: 0 10px; /* Espaciado entre iconos */
    font-size: 1.5rem; /* Tamaño más grande para los iconos */
}

.footer-social a:hover {
    color: #00adb5;
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    transition: color 0.3s ease, transform 0.3s ease; /* Suaviza la transición de los efectos */
}

/* Responsividad */
@media (min-width: 769px) {
    .footer .container {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .footer .container,
    .footer-section {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-social {
        justify-content: center; /* Asegura que los iconos estén centrados en dispositivos móviles */
        margin-top: 1rem; /* Añade espacio arriba de los iconos en vista móvil */
    }
}

/* Información de derechos de autor y atribuciones */
.footer-copy {
    border-top: 1px solid #404040;
    padding-top: 1rem;
    text-align: center; /* Centra el texto de derechos de autor */
    margin-top: 2rem; /* Añade espacio antes de la sección de derechos de autor */
}

/* Estilos para enlaces en el footer */
a.footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a.footer-link:hover {
    color: #00adb5;
}

/* Icono de whatsapp*/
.whatsapp-icon {
    position: fixed; /* Posicionamiento fijo en la pantalla */
    right: 20px; /* Distancia desde el lado izquierdo de la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    font-size: 2.5rem; /* Tamaño del ícono */
    color: #25D366; /* Color oficial de WhatsApp */
    background-color: white; /* Fondo blanco para el círculo */
    border-radius: 50%; /* Hace el fondo completamente redondo */
    width: 50px; /* Ancho del círculo */
    height: 50px; /* Alto del círculo */
    display: flex; /* Permite centrar el ícono dentro del círculo */
    align-items: center; /* Centra el ícono verticalmente */
    justify-content: center; /* Centra el ícono horizontalmente */
    box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Sombra suave alrededor del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    z-index: 1000; /* Asegura que el botón se muestre por encima de otros elementos */
}

.whatsapp-icon:hover {
    color: white; /* Cambia el color del ícono al pasar el mouse */
    background-color: #25D366; /* Cambia el fondo al color oficial de WhatsApp */
    text-decoration: none; /* Mantiene el enlace sin subrayado al pasar el mouse */
}
